<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yakin.rtp" >

    <application>
        <activity android:name=".RTPActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>
